{% extends 'base.html'%}
{% block content%}
<div class="container">
    <!-- Tittle  Section  -->
    {{ title}}
    <h3> Top Technology News Sources</h3>
    <hr>
    {% for source in technology %}
    {{source.title}}

    {% endfor%}

    <!--Sport news section-->
    <h3> Top Sports News Sources</h3>
    <hr>
    {% for sports_source in sports %}
    {{ sports_source.title}}
    {% endfor %}

    <!-- Business News Section  -->

    <h3> Top Business News Sources</h3>
    <hr>
    {% for business_source in business %}
    {{ business_source.title}}
    {% endfor% }

    <!-- Entertainment News Section  -->

    <h3> Top Entertainment News Sources</h3>
    <hr>

    {% for entertainment_source in entertainment %}
    {{ entertainment_source.title}}
    {% endfor%}
</div>


{%endblock%}