{% extends 'base.html' %}
{% block content %}
<div class="container">
    <!-- Tittle  Section  -->
    <h1>{{ title}} </h1>
    <h3> Top Technology News Sources</h3>
    <hr>
    {% for source in technology %}
    <p>{{source.name}}</p>

    {% endfor %}

    <!--Sport news section-->
    <h3> Top Sports News Sources</h3>
    <hr>
    {% for sports_source in sports %}
    <p>{{ sports_source.name}}</p>
    {% endfor %}

    <!-- Business News Section  -->

    <h3> Top Business News Sources</h3>
    <hr>
    {% for business_source in business %}
    <p>{{ business_source.name}}</p>
    {% endfor %}

    <!-- Entertainment News Section  -->

    <h3> Top Entertainment News Sources</h3>
    <hr>

    {% for entertainment_source in entertainment %}
    <p>{{ entertainment_source.name}}</p>
    {% endfor %}
</div>


{%endblock%}